<!doctype html>

<html lang="en">
<head>
</head>
{% extends "base.html" %}
{% block content %}

	<h1>Liquidity Watch <br><small>Select Your Commodity Contract</small></h1>

	<div class=container>
		<form action="" method="post" novalidate>
			<p>
			{{ form.instrument(size=10) }}
			</p>
			{{ form.hidden_tag() }}
			<p>
				Start Date:
				{{ form.start_dt(class='datepicker') }}
				End Date:
				{{ form.end_dt(class='datepicker') }}
			</p>
			<p>
			{{ form.vwap_checkbox }}
			{{ form.vwap_checkbox.label }}<br>
			{{ form.adv_checkbox }}
			{{ form.adv_checkbox.label }}<br>
			</p>

			<p>{{ form.submit() }}</p><br>
		</form>

		<div align="left">
		<p><i>See <a href="https://www.quandl.com/data/CHRIS" target="_blank">www.quandl.com/data/CHRIS</a></i> for database description</p>
		</div>
	</div>
	</body>
<div class="container">
    <hr>
    <footer>
        <p>By Yash Lakhani</p>
    </footer>
</div>

</html>
{% endblock %}
